
ion-toolbar{
    --background: none;
    background-color: #fff;
    border: none;
}
.en-Tete{
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin-top: 14px;
}

.menu{
    width: 37px;
    justify-content: center;
    color: #1A1313;
    // margin-left: 4%;
}
.menu ion-icon{
    font-size: x-large;
    color: #1A1313;
}
ion-menu-button{
    font-size: xx-large;
    color: #1E2059;
}
ion-content{
    --background:none;
    background-color: #fff;
    position: relative;
}
#bouton{
    background-color: black;
    color: white;
    border: none;
    font-size: smaller;
    width: 110px;
}
#input{
    margin-top: 10px;
    label{
        font-weight: 100;
        font-size: smaller;
        opacity: 0.79;
        color: black;
    }    
}

