@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Product-Sans-Regular';
    src: url('../assets/font/Product-Sans-Regular.ttf');
}
@font-face {
    font-family: 'Product-Sans-bold';
    src: url('../assets/font/Product Sans Bold.ttf');
}

