<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="menu" [routerLink]="['/accueil']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-buttons>
    <div class="en-Tete">
     <p style="color:black">Mes annonces</p>
    </div>
    <ion-buttons slot="end" class="menu" >
      <ion-icon name="chevron-back" style="color: white;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <!-- <p style="color:black" class="titre_categ">Le plus pertinent</p> -->
    <div class="sponsor">
          <ng-container *ngFor="let annonce of annonces">
            <!-- ................................... -->
            <div class="annonces">
              <div class="card-img-pertinent" style="background-image: url('../../assets/img/inscription.jpg');">
                <div>
                  <button mat-button [matMenuTriggerFor]="menu" class="choix">Menu</button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="vendu(annonce.details.idAnnonce)">Vendu</button>
                    <button mat-menu-item>Modifier</button>
                  </mat-menu>
                </div>
              </div>
              <div class="card-info">
                <div  id="card-titre">
                  <p>{{annonce.details.marque}} {{annonce.details.nomModele}}</p>
                  <p class="moteur">{{annonce.details.moteur}}</p>
                  <p class="info">{{annonce.details.anneeSortie}} | {{annonce.details.kilometrage}} km | {{annonce.details.boite}} | {{annonce.details.energie}} </p>
                  <p class="prix">{{annonce.details.prixVente}} Ar</p>
                </div>          
              </div>
            </div>
            <!-- ................................... -->
          </ng-container>
    </div>
  </div>
</ion-content>




