


<ion-content [fullscreen]="true" style="overflow: hidden;" class="body">
  <div class="content" style="height: 100%;position: relative;">
    <div class="titre">
      <img src="../../assets/img/logo1.png" alt="" style="width: 150px;" srcset=""><br>
      <div class="sousTitre">
        <p>Vendre votre voiture
          en toute confiance</p>
      </div>
    </div>
    <div class="container" style="height:auto;position: fixed;bottom:105px">
      <a href="" [routerLink]="['/login']" class="btn btn-primary" id="log" style="background-color: #1A1313;">Login</a><br>
      <a href="" [routerLink]="['/inscription']" class="btn btn-primary" id="log" style="background-color:#FAF4F4;color:#1A1313;">Inscription</a>
    </div>
  </div>
</ion-content>
