<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="menu" [routerLink]="['/accueil']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-buttons>
    <div class="en-Tete">
     <p style="color:black">Details</p>
    </div>
    <ion-buttons slot="end" class="menu" >
      <ion-icon name="chevron-back" style="color: white;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <!-- page.component.html -->
    <div class="sponsor">
      <ng-container>
        <!-- ................................... -->
        <div class="annonces" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <div class="annonces" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <div class="annonces" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <div class="annonces" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <!-- ................................... -->
      </ng-container>
    </div>
    <ng-container *ngIf="annonces">
    <div class="Details">
      <h3>{{annonces.details.marque}} {{annonces.details.nomModele}}</h3>
      <p class="title">Prix</p>
      <p>{{annonces.details.prixVente | number}} Ar</p>
      <p class="date">Publie le {{annonces.details.dateAnnonce}} </p>
      <p class="title">Description</p>
      <p class="title" style="opacity: 0.8;">{{annonces.details.description}}</p>
      <p class="title">Contact</p>
      <p class="date" style="font-size: small;border-radius: 16px;padding: 0px 8px;">{{annonces.details.mail}}</p>
      <p class="title">Caractéristique</p>
      <br>
      <div class="caracteristique">
        <table class="table">
          <tbody>
            <tr>
              <td>Marque</td>
              <td>{{annonces.details.marque}}</td>
            </tr>
            <tr>
              <td>Etat</td>
              <td>{{annonces.details.etatVoiture}}</td>
            </tr>
            <tr>
              <td>Nom du Modele</td>
              <td>{{annonces.details.nomModele}}</td>
            </tr>
            <tr>
              <td>Annee de sortie</td>
              <td>{{annonces.details.anneSortie}}</td>
            </tr>
            <tr>
              <td>Energie</td>
              <td>{{annonces.details.energie}}</td>
            </tr>
            <tr>
              <td>Boite de vitesse</td>
              <td>{{annonces.details.boite}}</td>
            </tr>
            <tr>
              <td>Kilometrage</td>
              <td>{{annonces.details.kilometrage}}</td>
            </tr>
            <tr>
              <td>Nombre de porte</td>
              <td>{{annonces.details.nbPorte}}</td>
            </tr>
            <tr>
              <td>Nombre de place</td>
              <td>{{annonces.details.nbPlace}}</td>
            </tr>
            <tr>
              <td>Consommation</td>
              <td>{{annonces.details.consommation}}</td>
            </tr>
            <tr>
              <td>Puissance</td>
              <td>{{annonces.details.puissance}}</td>
            </tr>
            <tr>
              <td>Longueur</td>
              <td>{{annonces.details.longueur}}</td>
            </tr>
            <tr>
              <td>Poids</td>
              <td>{{annonces.details.poids}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </ng-container>
  </div>
</ion-content>



