<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="menu" [routerLink]="['/accueil']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-buttons>
    <div class="en-Tete">
     <p style="color:black">Details</p>
    </div>
    <ion-buttons slot="end" class="menu" >
      <ion-icon name="chevron-back" style="color: white;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <!-- page.component.html -->
    <div class="sponsor">
      <ng-container>
        <!-- ................................... -->
        <div class="annonces" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <div class="annonces" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <div class="annonces" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <div class="annonces" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <!-- ................................... -->
      </ng-container>
    </div>
    <div class="Details">
      <h3>Rexton Pahse 3 RX</h3>
      <p class="title">Prix</p>
      <p>32 000 000 Ar</p>
      <p class="date">Publie le 21-01-26 </p>
      <p class="title">Description</p>
      <p class="title" style="opacity: 0.8;">hfdugdiugudsviggfivbvbdivisvhs ijfgosidhvdbvjb iiobhoibhoih oih </p>
      <p class="title">Contact</p>
      <p class="date" style="font-size: small;border-radius: 16px;padding: 0px 8px;">mananjara555@gmail.com</p>
      <p class="title">Caractéristique</p>
      <br>
      <div class="caracteristique">
        <table class="table">
          <tbody>
            <tr>
              <td>Marque</td>
              <td>Brandon Jacob</td>
            </tr>
            <tr>
              <td>Etat</td>
              <td>Bridie Kessler</td>
              
            </tr>
            <tr>
              <td>Nom du Modele</td>
              <td>Ashleigh Langosh</td>
              
            </tr>
            <tr>
              <td>Annee de sortie</td>
              <td>Angus Grady</td>
             
            </tr>
            <tr>
              <td>Energie</td>
              <td>Raheem Lehner</td>
             
            </tr>
            <tr>
              <td>Boite de vitesse</td>
              <td>Raheem Lehner</td>
            </tr>
            <tr>
              <td>Nombre de porte</td>
              <td>Raheem Lehner</td>
            </tr>
            <tr>
              <td>Nombre de place</td>
              <td>Raheem Lehner</td>
            </tr>
            <tr>
              <td>Consommation</td>
              <td>Raheem Lehner</td>
            </tr>
            <tr>
              <td>Puissance</td>
              <td>Raheem Lehner</td>
            </tr>
            <tr>
              <td>Longueur</td>
              <td>Raheem Lehner</td>
            </tr>
            <tr>
              <td>Poids</td>
              <td>Raheem Lehner</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</ion-content>



