
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar style="border:none;">
      <ion-title style="color: #1E2059;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button (click)="add()">...</ion-button>
    <ion-button  [routerLink]="['/login']" *ngIf="!utilisateurEstAdmin()">Se connecter</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-pae" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="en-Tete">
        <img src="../../assets/img/dark_logo.png" alt="">
      </div>
      <ion-buttons slot="end" class="menu">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="menu" style="margin-right: 10px;" [routerLink]="['/recherche']">
        <ion-icon name="search"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="menu">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="container" style="margin-top: 10px;">
    <div class="row">
      <div class="col-12">
        <ion-searchbar placeholder="Recherche"></ion-searchbar>
      </div>
    </div>
  </div><br>
  <!-- Annonce le plus pertinent -->
  <div class="annonce" (click)="vers_detail(50)">
    <div class="card-img" style="border-image:fill 0 linear-gradient(#0001,#000);background-image: url('../../assets/img/fond.jpg');">
      <h3 class="rand">Voiture de plaisir</h3>
      <button id="bouton" class="btn btn-primary">Voir detail</button>
    </div>
  </div>
    <!-- Annonce le plus pertinent -->
  <p style="color:black">Categorie</p>
  <div class="scrollmenu">
      <span class="badge rounded-pill bg-primary">Classe</span>
      <span class="badge rounded-pill bg-primary">Classe</span>
      <span class="badge rounded-pill bg-primary">Classe</span>
      <span class="badge rounded-pill bg-primary">Classe</span>
      <span class="badge rounded-pill bg-primary">Classe</span>
      <span class="badge rounded-pill bg-primary">Classe</span>
   
  </div>
  <div style="margin-top: 100px;" *ngIf="!utilisateurEstAdmin()">
   
    <!-- <p style="color: black;font-size: larger;font-weight: 600;">s</p> -->
    <div class="sponsor">
        <ng-container *ngFor="let equipe of equipe">
          <div class="annonce" (click)="vers_detail(50)">
            <!-- ... -->
            <div class="card-img" style="background-image: url('../../assets/img/logo.png');">
            </div>
            <div class="card-info">
              <p id="card-titre">{{equipe.nom_equipe}}</p>
            </div>
            <!-- ... -->
          </div>
        </ng-container>
    </div>
    
    <br>
  </div>
  
 


</div>




