
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar style="border:none;">
      <ion-title style="color: #12132d;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list lines="none" class="menu-items">
      <ion-item [routerLink]="['/accueil']">
        <ion-icon name="home-outline"></ion-icon> Accueil
      </ion-item>
      <ion-item  [routerLink]="['/ajout-annonce']">
        <ion-icon name="reader-outline"></ion-icon> Faire une annonce
      </ion-item>
      <ion-item  [routerLink]="['/favori']">
        <ion-icon name="heart-outline"></ion-icon> Favori
      </ion-item>
      <ion-item  [routerLink]="['/my-annonce']">
        <ion-icon name="exit-outline"></ion-icon> Mes annonces
      </ion-item>
      <ion-item  [routerLink]="['/notification']">
        <ion-icon name="notifications-outline"></ion-icon> Notification
      </ion-item>
      
      <ion-item  (click)="deconnecter()">
        <ion-icon name="exit-outline"></ion-icon> Déconnexion
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="en-Tete">
        <img src="../../assets/img/dark_logo.png" alt="">
      </div>
      <ion-buttons slot="end" class="menu" [routerLink]="['/notification']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="menu" style="margin-right: 10px;" [routerLink]="['/all-annonce']">
        <ion-icon name="search"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="menu">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="container" style="margin-top: 10px;">
   
    
    <div class="row">
      <div class="col-12">
        <ion-searchbar placeholder="Recherche"></ion-searchbar>
      </div>
    </div>
  </div><br>
  <!-- Annonce le plus pertinent -->
  <div class="annonce">
    <div class="card-img" style="border-image:fill 0 linear-gradient(#0001,#000);background-image: url('../../assets/img/fond.jpg');">
      <h3 class="rand">Voiture de plaisir</h3>
      <button id="bouton" class="btn btn-primary" (click)="vers_detail(50)">Voir detail</button>
    </div>
  </div>
  <!-- Annonce le plus pertinent -->
  <!-- Marque -->
  <div class="container" id="categorie">
    <p style="color:black" class="titre_categ">Marque</p>
    <div class="scrollmenu">
      <ng-container *ngFor="let marque of marques">
        <span class="badge rounded-pill">{{marque.marque}}</span>
      </ng-container>
    </div>
  </div> <br>
  <!-- Marque -->
<!-- Listee plus pertinent -->
  <div class="container">
    <!-- page.component.html -->

    <p style="color:black" class="titre_categ">Le plus pertinent</p>
    <div class="sponsor">
      <ng-container *ngFor="let annonce of annonces">
        <!-- ................................... -->
        <div class="annonces">
          <div class="card-img-pertinent" (click)="vers_detail(annonce.details.idAnnonce)" style="background-image: url('../../assets/img/inscription.jpg');"></div>
          <div class="card-info">
            <div  id="card-titre">
              <p style="opacity: 0.5;font-size: small;">{{annonce.details.prenom}} {{annonce.details.nom}}</p>
              <p>{{annonce.details.marque}} {{annonce.details.nomModele}}<ion-icon class="favoris" [name]="annonce.favoriStatus ? 'heart' : 'heart-outline'" (click)="onClickIcone(annonce.details.idAnnonce,annonce.favoriStatus)"></ion-icon></p>
              <p class="moteur">{{annonce.details.moteur}}</p>
              <p class="info">{{annonce.details.anneeSortie}} | {{annonce.details.kilometrage}} km | {{annonce.details.boite}} | {{annonce.details.energie}} </p>
              <p class="prix">{{annonce.details.prixVente | number}} Ar</p>
            </div>          
          </div>
        </div>
        <!-- ................................... -->
      </ng-container>
    </div>
  </div>
<!-- Listee plus pertinent -->

<!-- nouveau -->
<div class="container">
  <p style="color:black" class="titre_categ">Recemment ajoutes</p>
  <div class="sponsor">
    <ng-container *ngFor="let recemments of recemment">
      <!-- ................................... -->
      <div class="annonces">
        <!-- <p>{{recemments.photo[0].urlPhoto}}</p> -->
        <div class="card-img-pertinent" (click)="vers_detail(recemments.details.idAnnonce)" style="background-image: url('../../assets/img/inscription.jpg');"></div>
        <div class="card-info">
          <div  id="card-titre">
            <p style="opacity: 0.5;font-size: small;">{{recemments.details.prenom}} {{recemments.details.nom}}</p>
            <p>{{recemments.details.marque}} {{recemments.details.nomModele}}<ion-icon class="favoris" [name]="recemments.favoriStatus ? 'heart' : 'heart-outline'" (click)="onClickIcone(recemments.details.idAnnonce,recemments.favoriStatus)"></ion-icon></p>
            <p class="moteur">{{recemments.details.moteur}}</p>
            <p class="info">{{recemments.details.anneeSortie}} | {{recemments.details.kilometrage}} km | {{recemments.details.boite}} | {{recemments.details.energie}} </p>
            <p class="prix">{{recemments.details.prixVente | number}} Ar</p>
          </div>          
        </div>
      </div>
      <!-- ................................... -->
    </ng-container>
  </div>
</div>
<!-- nouveau -->
<br>
   <!-- Annonce le plus pertinent -->
   <div class="annonce">
    <div class="card-img" style="border-image:fill 0 linear-gradient(#0001,#000);background-image: url('../../assets/img/fond.jpg');">
      <img class="logo-blanc" src="../../assets/img/logo_simple_white.png" alt="">
      <p class="pub">Annoncez en toute confiance sur notre plateforme, et le meilleur ? C 'est gratuit ! Démarrez votre aventure vers la vente ou l'achat de voitures sans tracas.
         Avec nous, chaque annonce est une opportunité sans frais cachés, simplement l'assurance d'une expérience transparente et réussie.</p>
      <div>
        <button id="bouton-footer" class="btn btn-primary"  [routerLink]="['/all-annonce']">Tous les annonces</button>
        <button id="bouton-footer"  [routerLink]="['/ajout-annonce']" style="margin-left: 5px;background-color:black;color:white;" class="btn btn-primary">Creer annonce</button>
      </div>
    </div>
  </div>
  <!-- Annonce le plus pertinent -->


</ion-content>




