<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="menu" [routerLink]="['/accueil']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-buttons>
    <div class="en-Tete">
     <p style="color:black">Favori</p>
    </div>
    <ion-buttons slot="end" class="menu" >
      <ion-icon name="chevron-back" style="color: white;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <!-- <p style="color:black" class="titre_categ">Le plus pertinent</p> -->
    <div class="sponsor">
      <!-- ................................... -->
      <ng-container *ngFor="let favori of favoris">
        <div class="annonces">
          <div class="card-img-pertinent" style="background-image: url('../../assets/img/inscription.jpg');">
            <ion-icon name="heart-dislike" class="favoris"></ion-icon>
          </div>
          <div class="card-info">
            <div  id="card-titre">
              <p style="opacity: 0.5;font-size: small;">{{favori.prenom}} {{favori.nom}}</p>
              <p>{{favori.marque}} {{favori.nomModele}}</p>
              <p class="moteur">{{favori.moteur}}</p>
              <p class="info">{{favori.anneeSortie}} | {{favori.kilometrage}} km | {{favori.boite}} | {{favori.energie}} </p>
              <p class="prix">{{favori.prixVente}}</p>
            </div>          
          </div>
        </div>
      </ng-container>
      <!-- ................................... -->
    </div>
  </div>
</ion-content>



